# Dependencies
node_modules

# Build artifacts
dist
storybook-static
playwright-report
test-results
coverage

# Environment variables & secrets (CRITICAL)
.env*
.env
.env.local
.env.development
.env.test
.env.production
.tokens

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
.git
.github

# Testing / Docs
coverage
docs
tests
Run Book
